 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Date" class="text-dark">Date</label>
            <input type="hidden" name="id" value="">
            <input type="date" name="Date" value="" placeholder="Date">
        </div>
        <div class="form-group">
            <label for="DeliveredBottles" class="text-dark">Delivered Bottles</label>
            
            <input type="Number" name="DeliveredBottles" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="EmptyReceive" class="text-dark">Empty Receive</label>
           
            <input type="Number" name="EmptyReceive" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="BalanceBottles" class="text-dark">Balance Bottles</label>
           
            <input type="Number" name="BalanceBottles" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="Payment" class="text-dark">Payment</label>
           
            <input type="Number" name="Payment" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="PaymentBalance" class="text-dark">Payment Balance</label>
         
            <input type="Number" name="PaymentBalance" value="" placeholder="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>